[submodule "packages/automation-motion"]
	path = packages/automation-motion
	url = git@github.com:TomLXXVI/automation-motion.git
[submodule "packages/pyberryplc"]
	path = packages/pyberryplc
	url = git@github.com:TomLXXVI/pyberryplc.git
[submodule "packages/pyberryplc-stepper"]
	path = packages/pyberryplc-stepper
	url = git@github.com:TomLXXVI/pyberryplc-stepper.git
[submodule "packages/python-robot"]
	path = packages/python-robot
	url = git@github.com:TomLXXVI/python-robot.git
